@model StoreApp.DAL.Product
@{
    var spaces = Model.Space.Store.Spaces.Where(s => s.Id != Model.SpaceFK);
}

@using (Ajax.BeginForm("MoveToAnotherSpace", "Products",
    new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.SpaceFK)

            @Html.LabelFor(s => s.Space.Store.Spaces)
            @Html.DropDownListFor(s => s.NewSpaceId,
                new SelectList
                    (spaces, "Id", "Name"),
                new { @class = "form-control" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" onclick="closeMoveProductModal()" class="btn btn-primary" />
                </div>
            </div>
        </div>
}
@Scripts.Render("~/bundles/jqueryval")